################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrimeFactors_UnitTest/Debug
/PrimeFactors.opensdf
/PrimeFactors.sdf
